*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #B6D0F2;
    font-family: 'Roboto', sans-serif;
    
}



.icons{
    width: 24px;
}

.invert{
    filter: invert();
}

.title-main, header{
    border: none;
}

@media only screen and (max-width:768px){
    #imageInstructor{
        width: 80vw;
        height: auto;
    }

}

@media only screen and (min-width:768px){
    #imageInstructor{
        width: 40vw;
        height: auto;
    }
}
