*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #B6D0F2;
    font-family: 'Roboto', sans-serif;
    
}

header, footer{
    background-color: #011126;

}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    max-height: 10rem;
    
  }


header .navBar {
    top: 0px;
    width: 100%;
    height: 10vh;
    z-index: 1;
    position: fixed;
    padding-top: 1rem;
    text-align: center;
    background-color: #0111269d
}

header .iconNavBar{
    float:left;
}
.menu{
    float: right;
    font-size: 0;
}
h1, h2{
    clear: right;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}
h1{
    margin-top: 10vh;
}

li{
    list-style-type: none;
}

.menuLink{
    text-decoration: none;
}
.menuItem{
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 1rem;
    margin-right: 4rem;  
    position: relative; 
    display: inline-block;
}

header p{
    font-weight: 300;
    text-align: center;
}

main{
    padding-top: 5vh;
}

.menu li ul{
    position: absolute;
    padding-top: 4px;
    background-color: #2A4359;
    top:3vh;
    right: 0%;
    min-width: 160px;
    display:  none;
}
.menu ul li{
    border-bottom:2px solid #84A4BF;
    color: white;
    display: block;
}

.menu li:hover{
    padding-bottom: 2px;
    border-bottom: 4px solid gold;
}

.menuItem:hover ul{
    display: block;
}

h1, footer, .menuLink, header p {
    color:white;
}

aside{
    background-color: #84A4BF;
    padding-bottom: 1rem; 
}

.coursesBanner{
    height: 40%;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 2vh;
    width: 90%;
    
}
.coursesBanner li{
    display: inline;
}

.courseCard{
    display: inline-block;
    background-color: teal;
    width: 60vw;
    height: 60vh;
}
.courseInfo a{
    text-decoration: none;
    color: white;
}
.courseInfo{
    background-color: #2A4359;
    color: white;
    padding: 10px;
    width: 40vw;
    height: 25vh;
    top:5%;
    left:3%;
}

.coursesDetails{
    background-color: #2A4359;
    
    color: white;
    padding: 2rem;
    height: 60%;
}

.coursesDetails div{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.coursesDetails p{
    text-align: center; 
    align-self: center;
    margin-right: 0.5rem;
    padding: 2rem;
    width: 40%;
    max-height: 100%;
    letter-spacing: 0.4rem;
    font-style: italic;
    background-color: #011126;
}

.coursesDetails iframe{
    width: 60%;
    max-height: 100%;
}

.instructorCard{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}

.absolute{
    position: relative;
}

.relative{
    position: relative;
}

.left{
    left:-5%;
}

.instructorCardImage{
    width: 400px;
    height: 400px;
}
.instructorCardInfo{
    background-color: #2A4359;
    color: white;
    text-align: center; 
    align-self: center;
    padding: 1rem;
    height: 50vh;
    
}

.instructoCardInfo h3, .instructorCardInfo p{
    margin-bottom: 1rem;
}

.instructorCardLinks{
    margin-left: 0.5rem;
    width:20px; 
    filter: invert();
    height:20px;
}

.formCard{
    background-color: white;
    width: 1000px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 grey;
    margin: 60px;
    padding: 4px;
}

footer{
    padding:1rem;
    height: 60px;
}

footer p{
    text-align: center;
    line-height: 1.5;
}

footer .footerLinks{
    
    float: right;
    margin-right: 1rem;
} 

footer img{
    width: 20px;
    height: 20px;
    margin-left: 1rem;
    filter: invert();
}