@import "../abstract/variables";
@import "../components/titles";

main{
    .card{
        color: white;
        border-color: map-get($my-colors , "color-2" );
        background-color: map-get($my-colors,"color-2" );
        padding: 1rem;
    }
    .course__video{
        height: 100vh;
        video{
            width: 100%; 
            height: 100%;
        }
    }
    .section__desc1{
        background-color: map-get($my-colors , "color-2" );
        color: white;
        text-align: center;
        padding: 4rem;
        .section__desc1--text{
            border-color: map-get($my-colors , "color-1" );
            background-color: map-get($my-colors , "color-1" );
            text-align: center;
            padding: 3rem;
        }
    }
    .section__desc2{
        background-color: map-get($my-colors , "color-1" );
        color: white;
        padding: 4rem;
        text-align: center;
        .section__desc2--text{
            border-color: map-get($my-colors , "color-2" );
            background-color: map-get($my-colors , "color-2" );
            text-align: center;
            padding: 3rem;
        }
    }
    .section__prox--titulo{
        @include subtitle--left;
        @include titules-white(700);
    }
}

