@import "../abstract/variables";
@import "../abstract/gradients";
@import "../components/titles";

section{
    .gallery__title{
        @include subtitle--left;
        @include titules-white(700);
    }

    .card{
        background-color: map-get($my-colors, "color-2" );
        border-color: white;
    }

}



/*.smallGridGalery img:hover{
    transform: scale(1.1);
}*/