@import "../abstract/variables";

@mixin form__box ($color, $bd-radius) {
    background-color: $color;
    border-radius: $bd-radius;
    padding: 2rem;
    width: 95vw;
}
    
.form__contact{
    @include form__box(map-get($my-colors , "color-2" ), 4rem);
    .form__contact--title{
        text-align: center;
        font-weight: 700;
        padding-bottom: 2rem;
    }
    .form__contact--button{
        width: 100%;
    }
    label{
        color: white;
        letter-spacing: 2px;
        font-weight: 700;
        font-style: italic;
    }
}
.form__registration{
    @include form__box(map-get($my-colors , "color-2" ), 2rem);
    .form__registration--title{
        text-align: center;
        font-weight: 600;
        padding-bottom: 2rem;
        color: white;
    }
}
