@mixin gradient-1 {
    background: rgb(1,17,38);
    background: linear-gradient(90deg, rgba(1,17,38,1) 0%, rgba(73,109,140,1) 73%, rgba(182,208,242,1) 100%);
}
@mixin gradient-2 {
    background: rgb(1,17,38);
background: linear-gradient(270deg, rgba(1,17,38,1) 0%, rgba(73,109,140,1) 73%, rgba(182,208,242,1) 100%);
}